<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/Head", { title: currentUser ? "Home" : "Homepage" }) %>
  <body class="bg-gray-900">
    <div class="container-none w-full h-full flex flex-col items-center max-w-screen-lg mx-auto">
      
        <% if (!currentUser) { %>
        <div class="content w-full h-full flex flex-col justify-center items-center">
          <div class="welcomeSection w-full h-fit flex flex-col justify-center items-center">
          <div class="max-w-lg min-w-96 w-full welcomeSection-image mb-10 aspect-ratio-[16/9] w-full h-auto object-cover rounded-[200px] overflow-hidden mt-16 filter brightness-75">
            <img class="w-full h-auto object-cover" loading="lazy" src="/images/welcome.jpg" alt="Welcome to ChatRoom" />
          </div>
          <div class="welcomeSection-text mb-6 max-w-lg w-full">
            <h1 class=" text-purple-400 font-medium mb-2">Welcome to ChatRoom</h1>
            <p class="text-white text-xl font-medium">
              ChatRoom is a simple chat application that allows you to chat with
              your friends. You have to login or register to start chatting.
            </p>
          </div>
          
        </div>
        <div class="loginSection w-full max-w-lg h-fit flex flex-col gap-4 justify-center items-center mt-auto my-10">
          <a href="/login" class="bg-purple-700 w-full text-white text-center px-4 py-2 rounded-full border border-purple-700 hover:bg-purple-800 transition-all duration-300">Login</a>
          <a href="/register" class="bg-transparent w-full text-white text-center px-4 py-2 rounded-full border border-gray-700 hover:bg-gray-800 hover:text-white transition-all duration-300">Register</a>
          </div>
        </div>

        <!-- user is logged in -->

        <% } else { %>
          <!-- header start -->

          <header class="max-w-screen-lg mx-auto w-full h-fit flex justify-between items-center px-2 py-3 border-b border-gray-700">
            <a href="/" class="text-white text-xl font-bold">
              ChatRoom
            </a>
            
            <div class="emptyDiv flex justify-center items-center gap-4 w-fit h-fit">
              <a href="/users" class="text-white text-sm font-medium">All Users</a>
              <a href="/profile/<%= currentUser.username %>" class="profilePicture w-10 h-10 rounded-full flex items-center justify-center overflow-hidden">
                <% if (currentUser.profile_picture) { %>
                  <img src="data:image/png;base64,<%= currentUser.profile_picture %>" alt="profile picture" class="w-10 h-10 object-cover" />
                <% } else { %>
                  <div class="w-10 h-10 bg-purple-700 rounded-full flex items-center justify-center">
                    <p class="text-white text-sm font-bold">
                      <%= currentUser.firstname.charAt(0).toUpperCase() %>
                      <%= currentUser.lastname.charAt(0).toUpperCase() %>
                    </p>
                  </div>
                <% } %>
              </a>
            </div>
          </header>

          <!-- header end -->

          <!-- main start -->
          <div class="max-w-[640px] mx-auto content w-full h-full flex flex-col justify-center items-center">
            <!-- alert start -->
            <% if (flash.success) { %>
            <div class="alert w-full h-12 mb-5 bg-green-500 flex items-center justify-center">
              <p class="text-white"><%= flash.success %></p>
            </div>
          <% } %>
          <% if (flash.error) { %>
            <div class="alert w-full h-12 mb-5 bg-red-500 flex items-center justify-center">
              <p class="text-white"><%= flash.error %></p>
            </div>
          <% } %>

          <!-- alert end  -->
        <div class="feeds-myrooms-tabs w-full h-fit flex flex-col justify-center items-center gap-4 pt-2 mb-2">
          <form id="selection-tabs" method="get" action="" class="w-full h-fit flex justify-center items-center gap-4">
            <input type="radio" name="selection-tabs" <%= selectedTab === "feeds"||selectedTab === undefined ? "checked" : "" %> value="feeds" id="feeds-tab" class="hidden peer/feeds" />
            <label for="feeds-tab" class="w-full h-fit flex justify-center items-center text-gray-400 text-xl font-medium pb-3 hover:text-purple-500 transition-all duration-300 cursor-pointer border-b-2 border-transparent peer-checked/feeds:text-purple-500 peer-checked/feeds:border-purple-500 peer-checked/feeds:font-bold"><a href="/?selectedTab=feeds">Feeds</a></label>
            <input type="radio" name="selection-tabs" <%= selectedTab === "myrooms" ? "checked" : "" %> value="myrooms" id="myrooms-tab" class="hidden peer/myrooms" />
            <label for="myrooms-tab" class="w-full h-fit flex justify-center items-center text-gray-400 text-xl font-medium pb-3 hover:text-purple-500 transition-all duration-300 cursor-pointer border-b-2 border-transparent peer-checked/myrooms:text-purple-500 peer-checked/myrooms:border-purple-500 peer-checked/myrooms:font-bold"><a href="/?selectedTab=myrooms">My Rooms</a></label>
          </form>
        </div>
        <% if (selectedTab === "feeds"||selectedTab === undefined) { %>
        <div id="feeds-container" class="feeds-myrooms-tabs-content relative w-full h-full flex flex-col overflow-y-auto pb-[50vh]">
          <div class="refresh-posts hidden sticky  top-2 right-4 mx-auto w-fit h-fit flex justify-center items-center gap-4">
            <button onclick="window.location.reload()" class="bg-purple-700 text-white text-sm font-medium px-4 py-1 rounded-full border border-purple-700 hover:bg-purple-800 transition-all duration-300">Refresh</button>
          </div>  
          <% posts.forEach(post => { %>
            <div id="post-<%= post.id %>" class="post w-full h-fit flex flex-col justify-center items-center pt-3 border-b border-gray-800">
              <div class="post-header w-full h-fit flex justify-center items-center gap-4 mb-2 px-4">
                <a href="/profile/<%= post.username %>" class="profilePicture w-10 h-10 shrink-0  rounded-full flex items-center justify-center overflow-hidden">
                  <% if(post.profile_picture){%>
                  <img src="data:image/png;base64,<%= post.profile_picture %>" alt="profile picture" class="w-10 h-10 object-cover " />
                  <% }else{ %>
                    <div class="w-10 h-10 bg-gray-700 rounded-full flex items-center justify-center overflow-hidden">
                      <p class="w-full h-fit text-white text-center text-base font-medium"><%= post.firstname.charAt(0) %><%= post.lastname.charAt(0) %></p>
                    </div>
                  <% } %>
                </a>
                <div class="post-header-text w-full h-fit flex flex-col justify-center items-center gap-0">
                  <p class="w-full h-fit text-white text-xl text-left  font-medium"><%= post.firstname %> <%= post.lastname %></p>
                  <p class="w-full h-fit text-white text-sm text-left text-gray-400 font-medium" ><%= post.time_ago %></p> <!-- TODO: change to time ago in js -->
                </div>
              </div>
              <div class="post-content w-full h-fit flex flex-col justify-center items-center gap-3">
                <p class="w-full h-fit text-white text-base font-regular px-4"><%= post.content %></p>
                <% if (post.post_picture) { %>
                  <div class="post-image w-full h-fit flex justify-center items-center aspect-ratio-[16/9] overflow-hidden rounded-none">
                    <img loading="lazy" src="data:image/png;base64,<%= post.post_picture %>" alt="post image" class="w-full h-auto object-cover" />
                  </div>
                <% } %>
              </div>
              <div class="post-actions w-full h-fit flex justify-between items-center gap-12 p-4">
                <% if (post.user_reaction_type_name) { %>
                  <a href="/post/<%= post.id %>/reaction?reaction=remove" class="text-gray-400 text-xl font-medium">
                    <i class="bi bi-heart-fill text-red-500 mr-1"></i> <span class="text-gray-400 text-sm font-medium"> <%= post.reaction_count %> </span>
                  </a>
                <% } else { %>
                  <a href="/post/<%= post.id %>/reaction?reaction=add" class="text-gray-400 text-xl font-medium">
                    <i class="bi bi-heart mr-1"></i> <span class="text-gray-400 text-sm font-medium"> <%= post.reaction_count %>  </span>
                  </a>
                <% } %>
                <a href="/post/<%= post.id %>" class="text-gray-400 text-xl font-medium">
                  <i class="bi bi-chat-dots mr-1"></i> <span class="text-gray-400 text-sm font-medium">
                      <%= post.comment_count %>
                  </span>
                </a>
                <!-- reply -->
                <a href="/post/<%= post.id %>" class="text-gray-400 text-xl font-medium">
                  <i class="bi bi-share"></i>
                </a>
                <!-- delete -->
                 <div>
                   <% if (currentUser.username === post.username) { %>
                     <a href="/post/<%= post.id %>" onclick="return confirm('Are you sure you want to delete this post?')" method="post" class="text-gray-400 text-xl font-medium">
                       <i class="bi bi-trash"></i>
                     </a>
                   <% } %>
                 </div>
              </div>
              </div>
          <% }) %>
        </div>
        <% } %>
        <% if (selectedTab === "myrooms") { %>
        <div id="myrooms-container" class="feeds-myrooms-tabs-content relative w-full h-full flex flex-col overflow-y-auto pb-[50vh]">
          <h1 class="text-white text-2xl font-bold mb-3 mt-4 px-4">My Rooms</h1>
          <% if (userRooms.length === 0) { %>
            <div class="max-w-[320px] md:max-w-[480px] w-full h-fit flex bg-gray-800 mt-10 flex-col self-center justify-center items-center px-4 py-10 rounded-md border border-gray-700 gap-4">
              <h3 class="text-white text-xl font-medium">You have no rooms yet.</h3>
              <p class="text-gray-400 text-sm text-center font-medium">Create a room or join a room to start chatting with your friends.</p>
              <div class="w-full h-fit flex justify-center items-center gap-4">
                <a href="/social-rooms/create" class="bg-purple-700 text-white text-sm font-medium px-4 py-1 rounded-full border border-purple-700 hover:bg-purple-800 transition-all duration-300">Create Room</a>
                <a href="/social-rooms" class="bg-transparent text-white text-sm font-medium px-4 py-1 rounded-full border border-gray-700 hover:bg-gray-800 hover:text-white transition-all duration-300">Join Room</a>
              </div>
            </div>
          <% } else { %>
            <% userRooms.forEach((room) => { %>
              <div class=" w-full h-fit flex flex-col relative mb-4">
                <a href="/social-rooms/<%= room.id %>" class="content  w-full h-fit flex flex-row justify-start items-start gap-3 p-2">
                  <% if (room.room_picture) { %>
                    <img src="data:image/png;base64,<%= room.room_picture %>" alt="room picture" class="w-16 h-16 object-cover rounded-md" />
                  <% } else { %>
                    <img src="/images/default-room-picture.png" alt="room picture" class="w-16 h-16 object-cover rounded-md" />
                  <% } %>
                  <div class="w-full h-full flex flex-col justify-start items-start">
                    <p class="text-white font-semibold w-full text-lg truncate text-left text-ellipsis leading-none mb-1" ><%= room.name %></p>
                    <p class="text-gray-400 text-sm font-medium w-full text-sm text-left line-clamp-2 leading-none mb-5"><%= room.description %></p>
                    <div class="avatar-group w-fit h-fit flex justify-start items-center gap-0 mt-auto">
                      <% room.members.forEach((member, index) => { %>
                        <% if (index < 4) { %>
                          <div class="avatar w-8 h-8 rounded-full bg-gray-400 border-2 border-gray-50 flex items-center justify-center overflow-hidden first:ml-0 ml-[-8.5%]">
                            <% if (member.profile_picture) { %>
                              <img src="data:image/png;base64,<%= member.profile_picture %>" alt="member picture" class="w-6 h-6 object-cover" />
                            <% } else { %>
                              <div class="w-8 h-8 bg-gray-400 rounded-full flex items-center justify-center">
                                <p class="text-gray-900 text-xs font-semibold"><%= member.firstname.charAt(0).toUpperCase() %><%= member.lastname.charAt(0).toUpperCase() %></p>
                              </div>
                            <% } %>
                          </div>
                        <% } %>
                      <% }) %>
                      <% if (room.members.length > 4) { %>
                        <div class="avatar w-6 h-6 rounded-full bg-gray-200 border-2 border-gray-50 ml-[-8.5%] text-center text-xs font-medium"><p class="text-purple-700 text-xs align-middle leading-5 h-full">+<%= room.members.length - 4 %></p></div>
                      <% } %>
                    </div>
                  </div>
                </a>
                <% if (room.members.some(member => member.user_id === currentUser.id)) { %>
                  <a href="/social-rooms/<%= room.id %>?action=leave" method="post" class="bg-purple-700 absolute bottom-2 right-2 flex w-fit h-fit text-center text-nowrap flex-nowrap whitespace-nowrap text-white text-sm font-medium px-4 py-1 rounded-full border border-purple-700 hover:bg-purple-800 transition-all duration-300">Leave</a>
                <% } else { %>
                  <a href="/social-rooms/<%= room.id %>?action=join" method="post" class="bg-purple-700 absolute bottom-2 right-2 flex w-fit h-fit text-center text-nowrap flex-nowrap whitespace-nowrap text-white text-sm font-medium px-4 py-1 rounded-full border border-purple-700 hover:bg-purple-800 transition-all duration-300">Join</a>
                <% } %>
                
              </div>
              
            <% }) %>
          <% } %>
          
        </div>
        <% } %>
        </div>
        <!-- main end -->

        <!-- navbar start -->
        <%- include("../partials/navigation") %>
        <!-- navbar end -->
        <% } %>
    </div>

    <script>
      // remove alert after 3 seconds
      setTimeout(() => {  
        document.querySelector(".alert").remove();
      }, 3000);
    </script>

    <script>
      // when feeds-myrooms-tabs-content is dragged down 100px, refresh the page
      document.querySelector(".feeds-myrooms-tabs-content").addEventListener("scroll", () => {
        if (document.querySelector(".feeds-myrooms-tabs-content").scrollTop <= -100) {
          window.location.reload();
        }
      });
      // When the first post is at the top of the feeds-myrooms-tabs-content, show refresh-posts
      document.querySelector(".feeds-myrooms-tabs-content").addEventListener("scroll", () => {
        if (document.querySelector(".feeds-myrooms-tabs-content").scrollTop === 0) {
          document.querySelector(".refresh-posts").classList.remove("hidden");
        }else{
          document.querySelector(".refresh-posts").classList.add("hidden");
        }
      }); 
    </script>
    <!-- focus post -->
    <script>
      // Get the post ID from the URL query string
      const focusPostId = new URLSearchParams(window.location.search).get("focusPostId");
    
      if (focusPostId) {
        const post = document.querySelector(`#post-${focusPostId}`);
        const container = document.querySelector(".feeds-myrooms-tabs-content");
    
        if (post && container) {
          // Get the top position of the post relative to the container
          const postTop = post.offsetTop;
          const containerScrollTop = container.scrollTop;
    
          // Smoothly scroll the container so the post is visible
          container.scrollTo({
            top: postTop - containerScrollTop,
            behavior: "smooth",
          });
        }
      }
    </script>
    
  </body>
</html>

